html,
body {
  margin: 0;
  font-size: 20px;
  font-stretch: ultra-expanded;
  font-weight: 800;
  font-family: "Comic Sans MS", cursive;
  color: #f0f8ff;
}
/* "Comic Sans MS", cursive;*/
/*Main page*/
.content {
  background-color: #d2691e;
  padding-left: 20px;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

.content_2 {
  color: #d2691e;
}

.orange {
  color: #d2691e;
}

.brown {
  color: #8b4513;
}

.blue {
  color: #1e90ff;
}

.img {
  float: left;
  width: 20%;
}
.video {
  float: right;
  height: 750px;
  color: #1e90ff;
  width: 80%;
}

.border {
  border-width: 750px;
  outline: 10px solid #d2691e;
  border-radius: 20px;
}

.img2 {
  float: right;
  width: 20%;
}

.advice {
  background-color: #d2691e;
  padding-left: 10px;
  padding-right: 10px;
  width: 55%;
  height: 300px;
  float: right;
  border-radius: 20px;
}

.clear {
  clear: left;
  padding-top: 30px;
}

.art {
  background-color: #d2691e;
  padding-left: 25px;
  box-shadow: 0 0 0 10px #8b4513;
}

.sign {
  float: left;
  padding-left: 5px;
  width: 70%;
}

.art_c {
  color: #1e90ff;
}

.img3 {
  float: left;
  width: 40%;
  padding-left: 30px;
}

.contact {
  width: 100%;
  background-color: #d2691e;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

.clear_2 {
  clear: left;
  padding-top: 50px;
}

/* math */

.content_math {
  background-color: #d2691e;
  padding-left: 20px;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

.img_math {
  float: right;
  padding-right: 30px;
}

.video_math {
  float: left;
  color: #006400;
  padding-left: 30px;
}

.video_math_2 {
  float: right;
  color: #006400;
  padding-left: 30px;
}

.clear_3 {
  clear: left;
  padding-top: 50px;
}

.facts_math_head {
  background-color: #d2691e;
  padding-left: 20px;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

.facts_math {
  color: #006400;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #9acd32;
  float: right;
  width: 70%;
  border-radius: 20px;
  padding-right: 10px;
}

.clear_4 {
  clear: left;
  padding-top: 50px;
}

.contact_math {
  width: 100%;
  background-color: #d2691e;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

/* english */

.content_eng {
  background-color: #d2691e;
  padding-left: 20px;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

.video_eng {
  float: right;
  padding-right: 30px;
  color: #00008b;
}

.img_eng {
  padding-top: 60px;
}

.test_eng {
  background-color: #d2691e;
  padding-left: 20px;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

.test {
  background-color: #00bfff;
  color: #00008b;
  padding-left: 30px;
  border-radius: 20px;
  width: 40%;
  float: left;
}

.img_eng_2 {
  float: right;
  width: 50%;
}

.informer {
  align-items: center;
  float: all;
}

.clear_eng {
}

.clear_eng_2 {
  clear: left;
  padding-top: 50px;
}
.contact_english {
  width: 100%;
  background-color: #d2691e;
  color: white;
  box-shadow: 0 0 0 10px #8b4513;
}

span.quest {
  font-weight: bold;
}

/*about_me*/

.about__site {
  padding-top: 115px;
  color: #8b4513;
  padding-left: 30px;

}

.about__img {
  display: block;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  max-height: 40%;
  margin: auto;
}

.about__site__inner {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  background: linear-gradient(90deg, grey, white, grey);
  animation: animate 5s linear infinite;
  background-size: 90%;
  background-repeat: no-repeat;
}

@keyframes animate {
  from {
    background-position: -1000%;
  }
  to {
   background-position: 1000%; 
  }
}

.resume__title {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  color: #8b4513;
  padding-left: 30px;
}

.resume__h {
  margin-top: 10px;
  font-size: 20px;
  color: #8b4513;
  font-weight: 400;
  padding-left: 30px;
}

.resume__lists {
  list-style: circle;
}

.resume__list {
  color: #8b4513;
  font-size: 16px;
  padding-left: 30px;
}

.resume__list span {
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
}

.resume__list a {
  color: #8b4513;
  display: inline-block;
  font-size: 18px;
  transition: color 0.2s linear;
  padding-left: 30px;
}

.resume__list a:hover {
  color: rgb(255, 0, 0);
}

.resume__p {
  font-size: 16px;
  color: #8b4513;
  padding-left: 30px;
}

.education__list {
  font-size: 16px;
  color: #8b4513;
  padding-left: 30px;
}

.education__list dt {
  font-weight: 700;
  padding-left: 30px;
}

.resum_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 29.703%;
  height: 360px;
  border: 1px solid #d3d3d3;
  margin: 0 1.81515% 20px 1.81515%;
  padding-left: 30px;
}

.news_informer {
  padding:5px 5px 5px 5px;
  text-align:center;
  width:15%;
  border: #808080 1px solid;
}

/*Contact*/
.contact_me {
  float: left;
  padding-left: 30px;
  color: #00008b;  
}

.contact_select {
  width: 230px;
  font-size: 14px;
  background:#00bfff;
}

.contact_button {
  background:#00bfff;
  font-size: 16px;
  color:#00008b;
  padding: 5px;
  border:1px solid #00008b;
  border-radius: 3px;
}

.contact_reg {
  float: right;
  padding-right: 60px;
  color: #00008b; 
}

.img_contact {
  float: right;
  width: 30%;
}

.res_button {
  background:#00bfff;
  font-size: 16px;
  color:#00008b;
  padding: 5px;
  border:1px solid #00008b;
  border-radius: 3px;
}